.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.editor-image .image-resizer {
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: rgb(60, 132, 244);
  border: 1px solid #fff;
}

.icon.vertical-top,
i.left-align {
  background-image: url(UI/Images/vertical-top.svg);
}

.icon.vertical-middle,
i.center-align {
  background-image: url(UI/Images/vertical-middle.svg);
}

.icon.vertical-bottom,
i.right-align {
  background-image: url(UI/Images/vertical-bottom.svg);
}

.editor-shell .editor-image .image-edit-button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-image: url(UI/Images/pencil-fill.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  vertical-align: -0.25em;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
  user-select: none;
}

.editor-shell .editor-image .image-edit-button:hover {
  background-color: rgba(60, 132, 244, 0.1);
}

i.page-break,
.icon.page-break {
  background-image: url(UI/Images/scissors.svg);
}

.editor-image .image-resizer.image-resizer-n {
  top: -6px;
  left: 48%;
  cursor: n-resize;
}

.editor-shell .editor-image .image-resizer.image-resizer-ne {
  top: -6px;
  right: -6px;
  cursor: ne-resize;
}

.editor-shell .editor-image .image-resizer.image-resizer-e {
  bottom: 48%;
  right: -6px;
  cursor: e-resize;
}

.editor-shell .editor-image .image-resizer.image-resizer-se {
  bottom: -2px;
  right: -6px;
  cursor: nwse-resize;
}

.editor-shell .editor-image .image-resizer.image-resizer-s {
  bottom: -2px;
  left: 48%;
  cursor: s-resize;
}

.editor-shell .editor-image .image-resizer.image-resizer-sw {
  bottom: -2px;
  left: -6px;
  cursor: sw-resize;
}

.editor-shell .editor-image .image-resizer.image-resizer-w {
  bottom: 48%;
  left: -6px;
  cursor: w-resize;
}

.editor-shell .editor-image .image-resizer.image-resizer-nw {
  top: -6px;
  left: -6px;
  cursor: nw-resize;
}

.editor-shell .editor-image img.focused {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}
.editor-shell .editor-image img {
  max-width: 100%;
}

.editor-shell span.editor-image {
  cursor: default;
  display: inline-block;
  position: relative;
  user-select: none;
}

.editor {
  flex: auto;
  max-width: 100%;
  position: relative;
  resize: vertical;
  z-index: -1;
}

.editor-scroller {
  min-height: 150px;
  max-width: 100%;
  border: 0;
  display: flex;
  position: relative;
  outline: 0;
  z-index: 0;
  resize: vertical;
}

.editor-shell {
  border-radius: 2px;
  color: #000;
  position: relative;
  line-height: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  transition: all 0.3s;
  border: 1px solid #d9d9d9;
}

.editor-shell .editor-container {
  cursor: text;
  background: #fff;
  position: relative;
  display: block;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.mentions-menu {
  width: 250px;
}

.editor-container-readonly,
.editor-container-readonly * {
  cursor: default;
  resize: none !important;
}

.editor-container-readonly .editor-image div {
  width: 100% !important;
}

.editor-shell:hover,
.editor-shell:focus {
  border-color: #49a9ee;
}

.excalidraw-button {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.excalidraw-button.selected {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}

.editor-container-readonly {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  display: inline-block;
  padding: 4px 7px;
  cursor: text;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  background-image: none;
}

.editor-container-readonly * {
  cursor: default;
}

.editor-placeholder {
  font-size: 15px;
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 8px;
  left: 39px;
  right: 28px;
  user-select: none;
  white-space: pre-line;
  display: inline-block;
  pointer-events: none;
}

.editor-paragraph {
  margin-left: 11px;
  margin-bottom: 8px;
  margin-right: 0px;
  margin-top: 0px;
  position: relative;
}

.editor-content-editable-root {
  border: 0;
  font-size: 15px;
  display: block;
  position: relative;
  outline: 0;
  padding: 8px 28px;
  min-height: calc(100% - 16px);
}

.editor-content-editable-root.editor-editable {
  padding: 8px 28px;
}

@media (max-width: 1025px) {
  .editor-content-editable-root.editor-editable {
    padding: 8px 15px;
  }

  .editor-placeholder {
    left: 15px;
  }
}

blockquote * {
  color: black !important;
  padding-bottom: 4px;
}

blockquote {
  padding: 10px 20px;
}

figcaption {
  padding-top: 10px;
}

.calliope-bold-text {
  font-weight: bold;
}

.calliope-text-italic {
  font-style: italic;
}

.calliope-underline {
  text-decoration: underline;
}

.calliope-text-strikethrough {
  text-decoration: line-through;
}

.calliope-subscript {
  font-size: 0.8em;
  vertical-align: sub !important;
}

.calliope-superscript {
  font-size: 0.8em;
  vertical-align: super;
}

.calliope-underline-strikethrough {
  text-decoration: underline line-through;
}

.calliope-text-code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 0;
}

.calliope-text-lowercased {
  text-transform: lowercase;
}

.calliope-text-uppercase {
  text-transform: uppercase;
}

.calliope-text-capitalized {
  text-transform: capitalize;
}

.calliope-paragraph {
  margin: 0;
  margin-bottom: 8px;
  position: relative;
}

.calliope-paragraph:last-child {
  margin-bottom: 0;
}

.calliope-indent {
  --lexical-indent-base-value: 40px;
}

.calliope-quote {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.calliope-list-item {
  margin: 0px 32px;
}

.calliope-list-item::marker {
  color: var(--listitem-marker-color);
  background-color: var(--listitem-marker-background-color);
  font-family: var(--listitem-marker-font-family);
  font-size: var(--listitem-marker-font-size);
}

.calliope-ol1 {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}
.calliope-ol2 {
  padding: 0;
  margin: 0;
  list-style-type: upper-alpha;
  list-style-position: inside;
}
.calliope-ol3 {
  padding: 0;
  margin: 0;
  list-style-type: lower-alpha;
  list-style-position: inside;
}
.calliope-ol4 {
  padding: 0;
  margin: 0;
  list-style-type: upper-roman;
  list-style-position: inside;
}
.calliope-ol5 {
  padding: 0;
  margin: 0;
  list-style-type: lower-roman;
  list-style-position: inside;
}

.calliope-list-unordered {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

.calliope-list-item-checked,
.calliope-list-item-unchecked {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 24px;
  padding-right: 24px;
  list-style-type: none;
  outline: none;
}

.calliope-list-item-checked {
  text-decoration: line-through;
}

.calliope-list-item-checked:before,
.calliope-list-item-unchecked:before {
  content: '';
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  cursor: pointer;
  display: block;
  background-size: cover;
  position: absolute;
}

.calliope-list-item-unchecked:before {
  border: 1px solid #999;
  border-radius: 2px;
}

.calliope-list-item-checked:before {
  border: 1px solid rgb(61, 135, 245);
  border-radius: 2px;
  background-color: #3d87f5;
  background-repeat: no-repeat;
}

.calliope-list-item-checked:after {
  content: '';
  cursor: pointer;
  border-color: #fff;
  border-style: solid;
  position: absolute;
  display: block;
  top: 6px;
  width: 3px;
  left: 7px;
  height: 6px;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
}

.calliope-list-item-unchecked[dir='rtl']:before,
.calliope-list-item-checked[dir='rtl']:before {
  left: auto;
  right: 0;
}
.calliope-list-item-unchecked:focus:before,
.calliope-list-item-checked:focus:before {
  box-shadow: 0 0 0 2px #a6cdfe;
  border-radius: 2px;
}

.calliope-mark {
  background: rgba(255, 212, 0, 0.14);
  border-bottom: 2px solid rgba(255, 212, 0, 0.3);
  padding-bottom: 2px;
}

.calliope-mark-overlap {
  background: rgba(255, 212, 0, 0.3);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}

.calliope-mark.selected {
  background: rgba(255, 212, 0, 0.5);
  border-bottom: 2px solid rgba(255, 212, 0, 1);
}

.calliope-mark-overlap.selected {
  background: rgba(255, 212, 0, 0.7);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}
/*
.calliope-list-item-unchecked:before {
  background-image: url(UI/Images/square.svg);
}
.calliope-list-item-checked:before {
  background-image: url(UI/Images/square-check.svg);
}*/
.calliope-nested-list-item {
  list-style-type: none;
}
.calliope-nested-list-item:before,
.calliope-nested-list-item:after {
  display: none;
}

/* CODE */

.calliope-code {
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  tab-size: 2;
  /* white-space: pre; */
  overflow-x: auto;
  position: relative;
}

.calliope-code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #eee;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}

.calliope__tokenComment {
  color: slategray;
}
.calliope__tokenPunctuation {
  color: #999;
}
.calliope__tokenProperty {
  color: #905;
}
.calliope__tokenSelector {
  color: #690;
}
.calliope__tokenOperator {
  color: #9a6e3a;
}
.calliope__tokenAttr {
  color: #07a;
}
.calliope__tokenVariable {
  color: #e90;
}
.calliope__tokenFunction {
  color: #dd4a68;
}

/* Simulated cursor theme. */

.calliope-block-cursor {
  display: block;
  pointer-events: none;
  position: absolute;
}

.calliope-block-cursor:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid black;
  animation: CursorBlink 1.1s steps(2, start) infinite;
}

@keyframes CursorBlink {
  to {
    visibility: hidden;
  }
}

/* MARK */

.calliope-mark-overlap {
  background: rgba(255, 212, 0, 0.3);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}

.calliope-mark.selected {
  background: rgba(255, 212, 0, 0.5);
  border-bottom: 2px solid rgba(255, 212, 0, 1);
}

.calliope-mark-overlap.selected {
  background: rgba(255, 212, 0, 0.7);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}

/* embed block */

.calliope-embed-block {
  user-select: none;
}

.calliope-embed-block-focus {
  outline: 2px solid rgb(60, 132, 244);
}

@media (max-width: 780px) {
  .tweet-node-internal {
    width: 100px;
  }
}

@media (min-width: 780px) {
  .tweet-node-internal {
    width: 550px;
  }
}

/* LAYOUT CONTAINER */
.calliope-layout-container {
  display: grid;
  gap: 10px;
  margin: 10px 0;
}

.calliope-layout-layout-item {
  border: 1px dashed #ddd;
  padding: 8px 16px;
  min-width: 0;
  max-width: 100%;
}

/* TAB NODE */
.calliope-tab-node {
  position: relative;
  text-decoration: none;
}


.calliope-tab-node.calliope-underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.15em;
  border-bottom: 0.1em solid currentColor;
}

.calliope-tab-node.calliope-underline-strikethrough::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0.69em;
  border-top: 0.1em solid currentColor;
}

.calliope-tab-node.calliope-underline-strikethrough::before,
.calliope-tab-node.calliope-underline-strikethrough::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.calliope-tab-node.calliope-underline-strikethrough::before {
  top: 0.69em;
  border-top: 0.1em solid currentColor;
}

.calliope-tab-node.calliope-underline-strikethrough::after {
  bottom: 0.05em;
  border-bottom: 0.1em solid currentColor;
}


/* TABLE */

.calliope-table-cell-resizer {
  position: absolute;
  touch-action: none;
}

@media (pointer: coarse) {
  .calliope-table-cell-resizer {
    background-color: #adf;
    mix-blend-mode: color;
  }
}

.calliope-table-add-columns {
  position: absolute;
  background-color: #eee;
  height: 100%;
  animation: table-controls 0.2s ease;
  border: 0;
  cursor: pointer;
}
.calliope-table-add-columns:after {
  background-image: url(UI/Images/plus.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.calliope-table-add-columns:hover,
.calliope-table-add-rows:hover {
  background-color: #c9dbf0;
}
.calliope-table-add-rows {
  position: absolute;
  width: calc(100% - 25px);
  background-color: #eee;
  animation: table-controls 0.2s ease;
  border: 0;
  cursor: pointer;
}
.calliope-table-add-rows:after {
  background-image: url(UI/Images/plus.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

@keyframes table-controls {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.table-cell-action-button-container {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  will-change: transform;
}

.table-cell-action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  position: relative;
  border-radius: 15px;
  color: #222;
  display: inline-block;
  cursor: pointer;
}

i.chevron-down {
  background-color: transparent;
  background-size: contain;
  display: inline-block;
  height: 8px;
  width: 8px;
  background-image: url(./UI/Images/chevron-down.svg);
}

.action-button {
  background-color: #eee;
  border: 0;
  padding: 8px 12px;
  position: relative;
  margin-left: 5px;
  border-radius: 15px;
  color: #222;
  display: inline-block;
  cursor: pointer;
}

.action-button:hover {
  background-color: #ddd;
  color: #000;
}

.calliope-table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow-y: scroll;
  overflow-x: scroll;
  table-layout: fixed;
  width: fit-content;
  margin: 0px 25px 30px 0px;
}

.calliope-table-cell {
  border: 1px solid black;
  padding: 6px 8px;
  width: 75px;
  vertical-align: top;
  text-align: start;
  overflow: auto;
}

/*
  A firefox workaround to allow scrolling of overflowing table cell
  ref: https://bugzilla.mozilla.org/show_bug.cgi?id=1904159
*/
.calliope-table-cell > * {
  overflow: inherit;
}

.calliope-table-cell-header {
  background-color: #f2f3f5;
  text-align: start;
}

.calliope-table-cell-resize-ruler {
  display: block;
  position: absolute;
  width: 1px;
  background-color: rgb(60, 132, 244);
  height: 100%;
  top: 0;
}

.calliope-table-cell-resizer {
  position: absolute;
  right: -4px;
  height: 100%;
  width: 8px;
  cursor: ew-resize;
  z-index: 10;
  top: 0;
}

.calliope-table-cell-selected {
  background-color: #c9dbf0;
}

.calliope-table-frozen-row tr:nth-of-type(1) > td {
  overflow: clip;
  background-color: #ffffff;
  position: sticky;
  z-index: 2;
  top: 44px;
}

.calliope-table-frozen-row tr:nth-of-type(1) > th {
  overflow: clip;
  background-color: #f2f3f5;
  position: sticky;
  z-index: 2;
  top: 44px;
}

.calliope-table-frozen-row tr:nth-of-type(1) > th:after,
.calliope-table-frozen-row tr:nth-of-type(1) > td:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #bbb;
}

.calliope-table-frozen-column tr > td:first-child {
  background-color: #ffffff;
  position: sticky;
  z-index: 2;
  left: 0;
}

.calliope-table-frozen-column tr > th:first-child {
  background-color: #f2f3f5;
  position: sticky;
  z-index: 2;
  left: 0;
}

.calliope-table-frozen-column tr > :first-child::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  border-right: 1px solid #bbb;
}

.calliope-table-cell-action-button-container {
  display: block;
  right: 5px;
  top: 6px;
  position: absolute;
  z-index: 4;
  width: 20px;
  height: 20px;
}

.calliope-table-cell-action-button {
  background-color: #eee;
  display: block;
  border: 0;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  color: #222;
  cursor: pointer;
}

.calliope-table-cell-action-button-:hover {
  background-color: #ddd;
}

.calliope-table-cell-editing {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.calliope-table-cell-primary-selected {
  border: 2px solid rgb(60, 132, 244);
  display: block;
  height: calc(100% - 2px);
  position: absolute;
  width: calc(100% - 2px);
  left: -1px;
  top: -1px;
  z-index: 2;
}

.calliope-table-cell-sorted-indicator {
  display: block;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #999;
}

.calliope-table-selected {
  outline: 2px solid rgb(60, 132, 244);
}

.calliope-table-selection *::selection {
  background-color: transparent;
}

.calliope-table-row-stripping tr:nth-child(even) {
  background-color: #f2f5fb;
}

.PlaygroundEditorTheme__tableScrollableWrapper {
  overflow-x: auto;
  margin: 0px 25px 30px 0px;
}

.calliope-table-scrollable-wrapper.calliope-table-frozen-row {
  overflow-x: auto;
  margin: 0px 25px 30px 0px;
}

.calliope-table-scrollable-wrapper .calliope-editor-table {
  /* Remove the table's vertical margin and put it on the wrapper */
  margin-top: 0;
  margin-bottom: 0;
}

.calliope-table-alignment-center {
  margin-left: auto;
  margin-right: auto;
}

.calliope-table-alignment-right {
  margin-left: auto;
}

/* --- Table dropdown classes */
.dropdown {
  z-index: 99999999;
  display: block;
  position: fixed;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  min-width: 100px;
  min-height: 40px;
  background-color: #fff;
}

.dropdown .item {
  margin: 0 8px 0 8px;
  padding: 8px;
  color: #050505;
  cursor: pointer;
  line-height: 16px;
  font-size: 15px;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  border: 0;
  max-width: 264px;
  min-width: 100px;
}

.dropdown .item .active {
  display: flex;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.dropdown .item.wide {
  align-items: center;
  width: 248px;
  width: 260px;
}

.dropdown .item:first-child {
  margin-top: 8px;
}

.dropdown .item:last-child {
  margin-bottom: 8px;
}

.dropdown .item:hover {
  background-color: #eee;
}

.dropdown .item .text {
  display: flex;
  line-height: 20px;
  flex-grow: 1;
  min-width: 150px;
}

.dropdown .item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 12px;
  line-height: 16px;
  background-size: contain;
}

.dropdown .divider {
  width: auto;
  background-color: #eee;
  margin: 4px 8px;
  height: 1px;
}

i.copy {
  background-image: url(UI/Images/copy.svg);
}

i.success {
  background-image: url(UI/Images/success.svg);
}

i.prettier {
  background-image: url(UI/Images/prettier.svg);
}

i.prettier-error {
  background-image: url(UI/Images/prettier-error.svg);
}

.code-action-menu-container .code-highlight-language {
  margin-right: 4px;
}

.editor-equation {
  cursor: default;
  user-select: none;
}

.editor-equation.focused {
  outline: 2px solid rgb(60, 132, 244);
}

/* LINK EDITOR STYLES */


.link-editor .button.active,
.toolbar .button.active {
  background-color: rgb(223, 232, 250);
}

.link-editor .link-input {
  display: block;
  width: calc(100% - 75px);
  box-sizing: border-box;
  margin: 12px 12px;
  padding: 8px 12px;
  border-radius: 15px;
  background-color: #eee;
  font-size: 15px;
  color: rgb(5, 5, 5);
  border: 0;
  outline: 0;
  position: relative;
  font-family: inherit;
}

.link-editor .link-view {
  display: block;
  width: calc(100% - 24px);
  margin: 8px 12px;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 15px;
  color: rgb(5, 5, 5);
  border: 0;
  outline: 0;
  position: relative;
  font-family: inherit;
}

.link-editor .link-view a {
  display: block;
  word-break: break-word;
  width: calc(100% - 33px);
}

.link-editor div.link-edit {
  background-image: url(UI/Images/pencil-fill.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  vertical-align: -0.25em;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.link-editor div.link-trash {
    background-image: url(UI/Images/trash.svg);
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
    vertical-align: -0.25em;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.link-editor div.link-cancel {
  background-image: url(UI/Images/close.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  vertical-align: -0.25em;
  margin-right: 28px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.link-editor div.link-confirm {
  background-image: url(UI/Images/success-alt.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  vertical-align: -0.25em;
  margin-right: 2px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.link-editor .link-input a {
  color: rgb(33, 111, 219);
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 30px;
  text-overflow: ellipsis;
}

.link-editor .link-input a:hover {
  text-decoration: underline;
}

.link-editor .font-size-wrapper,
.link-editor .font-family-wrapper {
  display: flex;
  margin: 0 4px;
}

.link-editor select {
  padding: 6px;
  border: none;
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}

/* typeahead style */

.typeahead-popover {
  background: #fff;
  box-shadow: 0 5px 10px #0000004d;
  border-radius: 8px;
  margin-top: 25px;
  position: relative;
}

.typeahead-popover ul {
  padding: 0;
  list-style: none;
  margin: 0;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: scroll;
}

.typeahead-popover ul::-webkit-scrollbar {
  display: none;
}

.typeahead-popover ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.typeahead-popover ul li {
  margin: 0;
  min-width: 180px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}

.typeahead-popover ul li.selected {
  background: #eee;
}

.typeahead-popover li {
  margin: 0 8px 0 8px;
  padding: 8px;
  color: #050505;
  cursor: pointer;
  line-height: 16px;
  font-size: 15px;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 8px;
  border: 0;
}

.typeahead-popover li.active {
  display: flex;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.typeahead-popover li:first-child {
  border-radius: 8px 8px 0px 0px;
}

.typeahead-popover li:last-child {
  border-radius: 0px 0px 8px 8px;
}

.typeahead-popover li:hover {
  background-color: #eee;
}

.typeahead-popover li .text {
  display: flex;
  line-height: 20px;
  flex-grow: 1;
  min-width: 150px;
}

.typeahead-popover li .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.emoji-menu {
  width: 200px;
}

@media screen and (max-width: 1000px) {
  .dropdown-button-text {
    display: none !important;
  }
}


.editor-shell span.inline-editor-image {
  cursor: default;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.editor-shell .inline-editor-image img {
  max-width: 100%;
  cursor: default;
}

.editor-shell .inline-editor-image img.focused {
  outline: 2px solid rgb(60, 132, 244);
}

.editor-shell .inline-editor-image img.focused.draggable {
  cursor: grab;
}

.editor-shell .inline-editor-image img.focused.draggable:active {
  cursor: grabbing;
}

.editor-shell .inline-editor-image .image-caption-container .tree-view-output {
  margin: 0;
  border-radius: 0;
}

.editor-shell .inline-editor-image.position-full {
  margin: 1em 0 1em 0;
}

.editor-shell .inline-editor-image.position-left {
  float: left;
  width: 50%;
  margin: 1em 1em 0 0;
}

.editor-shell .inline-editor-image.position-right {
  float: right;
  width: 50%;
  margin: 1em 0 0 1em;
}

.editor-shell .inline-editor-image .image-edit-button {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 6px 8px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 60px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.editor-shell .inline-editor-image .image-edit-button:hover {
  background-color: rgba(60, 132, 244, 0.5);
}

.editor-shell .inline-editor-image .image-caption-container {
  display: block;
  background-color: #f4f4f4;
  min-width: 100%;
  color: #000;
  overflow: hidden;
}

.calliope-hr {
  padding: 2px 2px;
  border: none;
  margin: 1em 0;
  cursor: pointer;
}

.calliope-hr:after {
  content: '';
  display: block;
  height: 2px;
  background-color: #ccc;
  line-height: 2px;
}

.calliope-hr.calliope-hr-selected {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}