@media screen and (min-width: 768px) {
    .instagram-node {
      display: inline-block;
      width: 550px;
      height: 500px;
      border: 2px solid gainsboro;
    }
  }
  
  @media screen and (max-width: 768px) {
    .instagram-node {
      display: inline-block;
      width: 100%;
      height: 500px;
      border: 2px solid gainsboro;
    }
  }
  