@media screen and (min-width: 768px) {
    .instagram-node {
      display: inline-block;
      width: 550px;
      height: 900px;
      border: 1px solid gainsboro;
      border-radius: 12px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .instagram-node {
      display: inline-block;
      width: 100%;
      height: 900px;
      border: 2px solid gainsboro;
    }
  }
  